<!DOCTYPE html>
<html>
<head>
<title>普查</title>
<#include "/header.html">
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-table.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/AdminLTE.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/all-skins.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.css">

<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.min.js"></script>
<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.extension.js"></script>
<script src="${request.contextPath}/statics/plugins/treegrid/tree.table.js"></script>

<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script src="${request.contextPath}/statics/libs/router.js"></script>
<script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
<script src="${request.contextPath}/statics/libs/app.js"></script>
<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</head>
<body>

<div class="content-wrapper" style="margin-left: 0px;">
	<section class="content">
		<div id="uploadPhotos" class="box box-info">
			<div class="box-header with-border">
			</div>
			<div class="box-body">
				<form>
					<div class="form-group">
						<label>患者姓名</label>:{{ entity.name }}
					</div>
					<div class="form-group">
						<label>年龄</label>:{{ entity.age }}
					</div>
					<div class="form-group">
						<label>性别</label>:{{ entity.gender }}
					</div>
					<div class="form-group">
						<label>患者类型</label>:{{ entity.type }}
					</div>
					<div class="form-group">
						<label>所属机构</label>:{{ entity.deptName }}
					</div>
					<div class="form-group">
						<label>联系方式</label>:{{ entity.contactWay }}
					</div>
				</form>
			</div>
			<input type="hidden" id="infoId" value="${Session.infoId}">
			<input type="hidden" id="tableName" value="${Session.tableName}">
			<input type="text" id="uploadPermissions" value="${Session.uploadPermissions}">
			<div class="form-group">
	         <label>口内照片（<font class="text-red">长按图片删除</font>）</label>
	         	<div id="upload-img-div">
	         	    <div class="row" id="showImg">
	         	    	<div class="col-md-4 col-xs-4">
	         	    		<img id="uploadWxControls" class="img-responsive pad" onclick="chooseImage()" src="../../images/plus.png" style="display: none;"/>
							<a id="uploadPcControls" class="a-upload" href="javascript:;" style="display: none;"><input type="file" id="filePath" name="filePath" multiple="multiple" onchange="preview(this)">上传照片</a>
	         	    	</div>
              		</div>
				</div>
	       </div>
		</div>
	</section>
</div>

<script src="${request.contextPath}/statics/js/modules/mobile/upload_photos.js"></script>
</body>
</html>